body
{
    direction: rtl;
    background-color: black;
}
.h-100
{
    height: 100%;
}
.w-100
{
    width: 100%;
}
.menuwrapper
{
    background-color: rgb(237, 169, 10);
    
}
.menuwrapper li
{
    height: 50px;
}
.sliderwrapper
{
    z-index: 100000;
}
.menuwrapper:hover ul
{
    display: block;
}
.menuwrapper a
{
    text-decoration: none;
    color: black;
}
.menuwrapper ul
{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    list-style: none;
    margin-left: -100%;
width: 100%;
margin-right: 100%;
border-radius: 25px;
background: rgba(255, 255, 255,0.5);
position: relative;
z-index: 100;
display: none;
}
.menuwrapper ul li
{
    
}
.topbar
{
background-color: rgba(255, 255, 255,0.5);
border-radius:0px 0px 50px 50px;
}
.topbar a
{
    margin:30px 60px 10px 10px;
}
.mr-auto
{
    margin-right: auto !important;
}
.topbar .logo
{
    margin:20px 30px;
}
.bottombar 
{
    right: 50px;
    bottom:10px
}
.bottombar a
{
margin:10px 10px;
}
.slider
{
    direction: ltr;
}
.top0
{
    top:0px;
}
.bottom0
{
    bottom: 0px;
}
.z1
{
    z-index: 1;
}
.z2
{
    z-index: 2;
}
.z3
{
    z-index: 3;
}
.z4
{
    z-index: 4;
}
.z5
{
    z-index: 5;
}
.z6
{
    z-index: 6;
}
.content .bgwhite
{
    background: rgba(255, 255, 255,0.5);
}
.slick-dots
{
    bottom: 25px;
}
.slick-dots{
    padding-left: 20px;
}
.slick-dots li
{
    float: left;
}
.slick-dots li button:before
{
    font-size: 20px;
    color: white;
}
.slick-dots li.slick-active button:before
{
    color: white;
}
.vCenterPage
{
    top: 50%;
    transform: translate(-50%, -50%);
}
.card
{
    background-color: white;
    border-radius: 50px;
}